<h2 class="page-title" *ngIf="!driverDetailActive">Drivers</h2>

<div *ngIf="!driverDetailActive">
    <ngx-datatable
      [rows]="driversRows"
      [columns]="driversColumns"
      class="material striped"
      [columnMode]="'force'"
      [headerHeight]="48"
      [footerHeight]="48"
      [rowHeight]="48"
      [limit]="8"
      (select)='onSelect($event);'
      [selected]="selected"
      [selectionType]="'single'">

      <ngx-datatable-column name="Name" prop="about.firstname" [sortable]="true">
        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
            <span *ngIf="row.about">{{row.about.firstname}} {{row.about.lastname}} </span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Address" prop="about.zipcode" [sortable]="true">
        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
          <span *ngIf="row.about">{{row.about.zipcode}} {{row.about.city}}<span *ngIf="row.about.zipcode || row.about.city" class="comma">,</span> {{row.about.street}} </span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Driver S&C Address" prop="index" [sortable]="true">
        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
          <span>{{row.address}}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Email" prop="email" [sortable]="true">
        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
          <span>{{row.email}}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Phone" prop="about.phone" [sortable]="true">
        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
          <span *ngIf="row.about">{{row.about.phone}}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Tokens" prop="balance" [sortable]="true">
        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
          <span>{{row.balance}} {{row.token}}</span>
        </ng-template>
      </ngx-datatable-column>

    </ngx-datatable>
  </div>


    <h2 class="page-title clickable" (click)="backToDrivers()" *ngIf="driverDetailActive">
      <i class="fas fa-chevron-left"></i>
        <span class="first-name">{{driverDetail?.about?.firstname}}</span>
        <span class="last-name">{{driverDetail?.about?.lastname}}</span>
    </h2>

    <div class="driver-detail-wrapper" *ngIf="driverDetailActive">

        <ul>
            <li *ngIf="driverDetail?.about?.street || driverDetail?.about?.city || driverDetail?.about?.zipcode">
                <span>Address:</span>
                <span>{{driverDetail?.about?.street}}<span *ngIf="driverDetail?.about?.street" class="comma">,</span> {{driverDetail?.about?.city}} {{driverDetail?.about?.zipcode}}</span>
            </li>
            <li *ngIf="driverDetail?.email">
                <span>E Mail Address:</span>
                <span>{{driverDetail?.email}}</span>
            </li>
            <li *ngIf="driverDetail?.about?.phone">
                <span>Phone:</span>
                <span>{{driverDetail?.about?.phone}}</span>
            </li>
        </ul>

        <div>
          <div class="wallet-info wallet-info--driver-detail">
            <h2>Wallet: </h2>
            <p class="wallet-info__ammount">{{driverDetail?.balance}} {{driverDetail?.token}}</p>

            <!-- <span tooltip="Content to be shown in the tooltip"
            [tooltipDisabled]="false"
            [tooltipAnimation]="true"
            tooltipPlacement="top"></span> -->

          <div class="wallet-info__buttons">
            <div class="wallet-info__buttons__inner-wrapper">
              <button type="button" (click)="transactionsActive = !transactionsActive; tokensActive = false;" [disabled]="latestTransactions.length === 0">
                  <i class="fas fa-info-circle"></i>
              </button>
              <div [hidden]="!transactionsActive || latestTransactions.length === 0" class="wallet-info__transactions">
                <p class="transaction-headline">
                    <i class="fas fa-chevron-left" (click)="transactionsActive = false"></i>
                    Latest transactions
                </p>
                <div class="transaction-list__wrapper">
                  <ul class="transaction-list">
                      <li *ngFor="let latestTransaction of latestTransactions; let a = index;">
                          <div (click)="getTransactionDetails(a)" class="transaction-list-item">
                            <span>{{latestTransaction.finalPrice}} {{latestTransaction.currency}}</span>
                            <span>
                              <i class="fas fa-car"></i>
                              <i class="fas fa-bolt"></i>
                            </span>
                            <span>{{latestTransaction.start | date:'medium'}}</span>
                          </div>
                          <div class="transaction-details" *ngIf="showTransactions && selectedTransactionIndex === a">
                              <p class="transaction-headline">
                                <i class="fas fa-chevron-left" (click)="showTransactions = false"></i>
                                Transaction details
                              </p>
                              <div class="transaction-details-inner">
                                <div>
                                  <p class="bold">Name of charging station:</p>
                                  <p>{{latestTransaction.evseId}}</p>
                                </div>
                                <div>
                                  <p class="bold">Address of charging station:</p>
                                  <p>{{latestTransaction.scId}}</p>
                                </div>
                                <div>
                                  <p class="bold">Date:</p>
                                  <p>{{latestTransaction.start}}</p>
                                </div>
                                <div>
                                  <p class="bold">Tariff of charging station:</p>
                                  <p>{{latestTransaction.tariff}}</p>
                                </div>
                                <div>
                                  <p class="bold">Duration:</p>
                                  <p>{{calculateTotalTime(latestTransaction.start, latestTransaction.end)}}</p>
                                </div>
                                <div class="transaction-details-inner__amount">{{latestTransaction.finalPrice}} {{latestTransaction.currency}}</div>
                              </div>
                          </div>
                      </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="wallet-info__buttons__inner-wrapper">
              <button type="button" (click)="tokensActive = !tokensActive; transactionsActive = false;" >
                  <i class="fas fa-plus-circle"></i>
              </button>
              <div [hidden]="!tokensActive" class="wallet-info__tokens">
                  <p class="bold">Provide new tokens</p>
                  <div class="token-ammount__input-wrapper">
                    <input type="text" name="tokenAmmount" [(ngModel)]="tokenValue">
                    <span class="token-ammount-wrapper">
                        <button type="button" (click)="addTokens()">
                          <i class="fas fa-chevron-up"></i>
                        </button>
                        <button type="button" (click)="removeTokens()">
                          <i class="fas fa-chevron-down"></i>
                        </button>
                    </span>
                  </div>
                  <button type="button" (click)="topUpWallet()" [disabled]="this.tokenValue < 100">
                      Add
                  </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="driver-detail-overlay" [hidden]="!transactionsActive && !tokensActive" (click)="transactionsActive = false; tokensActive = false; showTransactions = false"></div>
