
<h2 class="page-title clickable" (click)="backToDrivers()">
  <i class="fas fa-chevron-left"></i>
  <span>Max Mustermann</span>
</h2>

<div class="driver-detail-wrapper">

    <ul>
        <li>
            <span>Address:</span>
            <span>Musterstrasse 12</span>
        </li>
        <li>
            <span>E Mail Address:</span>
            <span>asdasd@asdasd.com</span>
        </li>
        <li>
            <span>Phone:</span>
            <span>+4234567890123</span>
        </li>
    </ul>

    <div>
      <div class="wallet-info wallet-info--driver-detail">
        <h2>Wallet: </h2>
        <!-- <p>{{accountInfo.wallet}}</p> -->
        <p class="wallet-info__ammount">18.25</p>
        <p>Network Tokens</p>
      <div class="wallet-info__buttons">
        <div class="wallet-info__buttons__inner-wrapper">
          <button type="button" (click)="transactionsActive = !transactionsActive; tokensActive = false;">
              <i class="fas fa-info-circle"></i>
          </button>
          <div [hidden]="!transactionsActive" class="wallet-info__transactions">
            <p class="bold">Latest transactions</p>
            <ul class="transaction-list">
                <li *ngFor="let number of [0,1,2,3,4,5]">
                    <span>1.45 CF</span>
                    <span>
                      <i class="fas fa-car"></i>
                      <i class="fas fa-bolt"></i>
                    </span>
                    <span>7.7.2018, 22:45</span>
                </li>
            </ul>
          </div>
        </div>
        <div class="wallet-info__buttons__inner-wrapper">
          <button type="button" (click)="tokensActive = !tokensActive; transactionsActive = false;" >
              <i class="fas fa-plus-circle"></i>
          </button>
          <div [hidden]="!tokensActive" class="wallet-info__tokens">
              <p class="bold">Provide new tokens</p>
              <div class="token-ammount__input-wrapper">
                <input type="text" name="tokenAmmount">
                <span class="token-ammount-wrapper">
                    <button type="button">
                      <i class="fas fa-chevron-up"></i>
                    </button>
                    <button type="button">
                      <i class="fas fa-chevron-down"></i>
                    </button>
                </span>
              </div>
              <button type="button">
                  Add
              </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="driver-detail-overlay" [hidden]="!transactionsActive && !tokensActive" (click)="transactionsActive = false; tokensActive = false"></div>
