<h2 class="page-title">CPO Payment Requests</h2>

<div>
  <ngx-datatable
      [rows]="paymentRows"
      [columns]="paymentColumns"
      class="material striped"
      [columnMode]="'force'"
      [headerHeight]="48"
      [footerHeight]="48"
      [rowHeight]="48"
      [limit]="8">

      <ngx-datatable-column *ngFor="let column of paymentColumns" name={{column.name}}>
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{value}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Payment Made">
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <button type="button" class="ngx-table-button">
              <i class="fas fa-thumbs-up"></i>
              <span>Payment Made</span>
          </button>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="CDR Download">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <button type="button" class="ngx-table-button">
                <i class="fas fa-download"></i>
                <span>CDR Download</span>
            </button>
        </ng-template>
      </ngx-datatable-column>

  </ngx-datatable>
</div>
