
// body
//   font-size: 1rem
//   line-height: 1.55556

// @media (min-width: 30.01em)
//   body
//     font-size: 1rem
//     line-height: 1.55556

// @media (min-width: 45.01em)
//   body
//     font-size: 1rem
//     line-height: 1.55556

// @media (min-width: 60.01em)
//   body
//     font-size: 1rem
//     line-height: 1.55556

// @media (min-width: 80.01em)
//   body
//     font-size: 1rem
//     line-height: 1.55556

// @media (min-width: 120.0725em)
//   body
//     font-size: 1.11111rem
//     line-height: 1.6

// html
//   font-family: "VWFS-Sans",sans-serif
//   background-color: #fff
//   color: #4c5356

.u-bg-brand li
  color: #fff

.u-bg-brand dl
  color: #fff

dt
  font-weight: bold

label
  display: inline-block
  margin-bottom: 7px
  color: #4c5356

hr
  display: block
  margin-bottom: 56px
  border: 0
  width: 100%
  height: 2px
  background-color: #f2f2f2

sup
  font-size: 55%
  top: -0.85em

mark
  color: #004666
  background: #f5e850

.c-icon-nav
  margin: 0
  padding: 0
  list-style: none
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -ms-flex-wrap: wrap
  flex-wrap: wrap
  -webkit-box-pack: center
  -ms-flex-pack: center
  justify-content: center
  li
    display: block

.c-icon-nav__item
  margin-left: 10px
  margin-right: 10px
  -ms-flex-negative: 0
  flex-shrink: 0
  -webkit-box-flex: 1
  -ms-flex-positive: 1
  flex-grow: 1
  &:nth-last-child(-n+5):first-child
    -ms-flex-preferred-size: 10%
    flex-basis: 10%
    ~ .c-icon-nav__item
      -ms-flex-preferred-size: 10%
      flex-basis: 10%
  &:nth-last-child(n+6)
    -ms-flex-preferred-size: 15%
    flex-basis: 15%
    ~ .c-icon-nav__item
      -ms-flex-preferred-size: 15%
      flex-basis: 15%

@media (max-width: 45em)
  .c-icon-nav__item:nth-last-child(-n+5):first-child
    -ms-flex-preferred-size: 40%
    flex-basis: 40%
    ~ .c-icon-nav__item
      -ms-flex-preferred-size: 40%
      flex-basis: 40%

@media (max-width: 80em)
  .c-icon-nav__item:nth-last-child(n+6)
    -ms-flex-preferred-size: 30%
    flex-basis: 30%
    ~ .c-icon-nav__item
      -ms-flex-preferred-size: 30%
      flex-basis: 30%

.c-icon-nav__link
  font-size: .83333rem
  line-height: 1.25
  display: block
  color: #004666
  text-transform: uppercase
  text-decoration: none

@media (min-width: 30.01em)
  .c-icon-nav__link
    font-size: .83333rem
    line-height: 1.25

@media (min-width: 45.01em)
  .c-icon-nav__link
    font-size: .83333rem
    line-height: 1.25

@media (min-width: 60.01em)
  .c-icon-nav__link
    font-size: .83333rem
    line-height: 1.25

@media (min-width: 80.01em)
  .c-icon-nav__link
    font-size: .83333rem
    line-height: 1.25

@media (min-width: 120.0725em)
  .c-icon-nav__link
    font-size: 1rem
    line-height: 1.25

.c-image-nav
  margin: 0
  padding: 0
  list-style: none
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -ms-flex-wrap: wrap
  flex-wrap: wrap
  -webkit-box-pack: center
  -ms-flex-pack: center
  justify-content: center
  -webkit-box-align: center
  -ms-flex-align: center
  align-items: center
  li
    display: block
  &:hover .c-image-nav__link, &:focus .c-image-nav__link
    opacity: 0.3
  &:hover .c-image-nav__link
    &:hover, &:focus
      opacity: 1
  &:focus .c-image-nav__link
    &:hover, &:focus
      opacity: 1

.c-image-nav__item
  margin-left: 14px
  margin-right: 14px
  -ms-flex-negative: 0
  flex-shrink: 0
  -webkit-box-flex: 1
  -ms-flex-positive: 1
  flex-grow: 1
  -ms-flex-preferred-size: auto
  flex-basis: auto
  &:nth-last-child(-n+5):first-child, &:nth-last-child(n+6)
    -ms-flex-preferred-size: 10%
    flex-basis: 10%
    ~ .c-image-nav__item
      -ms-flex-preferred-size: 10%
      flex-basis: 10%

@media (max-width: 80em)
  .c-image-nav__item:nth-last-child(-n+5):first-child
    -ms-flex-preferred-size: 15%
    flex-basis: 15%
    ~ .c-image-nav__item
      -ms-flex-preferred-size: 15%
      flex-basis: 15%

@media (max-width: 45em)
  .c-image-nav__item:nth-last-child(-n+5):first-child
    -ms-flex-preferred-size: 40%
    flex-basis: 40%
    -webkit-box-flex: 0
    -ms-flex-positive: 0
    flex-grow: 0
    ~ .c-image-nav__item
      -ms-flex-preferred-size: 40%
      flex-basis: 40%
      -webkit-box-flex: 0
      -ms-flex-positive: 0
      flex-grow: 0

@media (max-width: 80em)
  .c-image-nav__item:nth-last-child(n+6)
    -ms-flex-preferred-size: 30%
    flex-basis: 30%
    ~ .c-image-nav__item
      -ms-flex-preferred-size: 30%
      flex-basis: 30%

.c-stepper-nav
  margin: 0
  padding: 0
  list-style: none
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-pack: justify
  -ms-flex-pack: justify
  justify-content: space-between
  counter-reset: stepper-nav-count
  overflow: hidden
  li
    display: inline-block

.c-stepper-nav__item
  -ms-flex-preferred-size: 0
  flex-basis: 0
  -webkit-box-flex: 1
  -ms-flex-positive: 1
  flex-grow: 1
  position: relative
  &:not(:last-child)::after
    display: block
    width: 1000px
    height: 2px
    position: absolute
    left: 50%
    top: 21px
    z-index: -1
    content: ""
  &:last-child::after
    display: block
    width: 1000px
    height: 16px
    position: absolute
    left: 50%
    top: 21px
    -webkit-transform: translateY(-50%)
    transform: translateY(-50%)
    z-index: -1
    background-color: #fff
    content: ""
  &.is-current:not(:last-child)::after
    background-color: #d8d8d8
  &.is-active:not(:last-child)::after
    background-color: #004666

.c-stepper-nav__link
  font-size: .83333rem
  line-height: 16px
  display: block
  text-decoration: none
  text-align: center
  cursor: default
  &::before
    -webkit-transition-duration: 350ms
    transition-duration: 350ms
    -webkit-transition-property: all
    transition-property: all
    -webkit-transition-timing-function: ease
    transition-timing-function: ease
    font-size: 1rem
    line-height: 44px
    display: block
    width: 44px
    height: 44px
    margin-left: auto
    margin-right: auto
    margin-bottom: 7px
    border-radius: 50%
    -webkit-box-shadow: 0 0 0 4px #fff
    box-shadow: 0 0 0 4px #fff
    border: 1px solid #a8adb3
    color: #4c5356
    background-color: #a8adb3
    counter-increment: stepper-nav-count
    content: counter(stepper-nav-count)

@media (min-width: 30.01em)
  .c-stepper-nav__link
    font-size: .83333rem
    line-height: 16px

@media (min-width: 45.01em)
  .c-stepper-nav__link
    font-size: .83333rem
    line-height: 16px

@media (min-width: 60.01em)
  .c-stepper-nav__link
    font-size: .83333rem
    line-height: 16px

@media (min-width: 80.01em)
  .c-stepper-nav__link
    font-size: .83333rem
    line-height: 16px

@media (min-width: 120.0725em)
  .c-stepper-nav__link
    font-size: 1rem
    line-height: 16px

.c-stepper-nav__item
  &.is-current .c-stepper-nav__link
    cursor: pointer
    &::before
      border-color: #004666
      color: #fff
      background-color: #004666
    &:hover::before
      -webkit-box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2)
      box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2)
  &.is-active .c-stepper-nav__link
    cursor: pointer
    &::before
      border-color: #004666
      color: #004666
      background-color: #fff
    &:hover::before
      -webkit-box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2)
      box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2)

.c-checkbox
  position: absolute
  left: -9999px
  &:checked +
    label::before, span::before
      color: #004666

.u-bg-brand .c-checkbox:checked +
  label::before, span::before
    color: #66e4ee

.c-checkbox
  &:checked +
    label::after, span::after
      width: 0
      left: 26px
  +
    label, span
      font-size: 1rem
      line-height: 1.55556
      display: inline-block
      color: #4c5356
      padding-top: 0px
      padding-left: 35px
      position: relative
      line-height: 28px
      cursor: pointer

@media (min-width: 30.01em)
  .c-checkbox +
    label, span
      font-size: 1rem
      line-height: 1.55556

@media (min-width: 45.01em)
  .c-checkbox +
    label, span
      font-size: 1rem
      line-height: 1.55556

@media (min-width: 60.01em)
  .c-checkbox +
    label, span
      font-size: 1rem
      line-height: 1.55556

@media (min-width: 80.01em)
  .c-checkbox +
    label, span
      font-size: 1rem
      line-height: 1.55556

@media (min-width: 120.0725em)
  .c-checkbox +
    label, span
      font-size: 1.11111rem
      line-height: 1.6

.u-bg-brand .c-checkbox +
  label, span
    color: #fff

.c-checkbox +
  label::before, span::before
    font-family: "vwfs-iconfont-small" !important
    speak: none
    font-weight: normal
    font-style: normal
    font-variant: normal
    text-transform: none
    -moz-osx-font-smoothing: grayscale
    -webkit-font-smoothing: antialiased
    content: ""
    -webkit-transition-duration: 350ms
    transition-duration: 350ms
    -webkit-transition-property: all
    transition-property: all
    -webkit-transition-timing-function: ease
    transition-timing-function: ease
    font-family: "vwfs-iconfont-small" !important
    speak: none
    font-weight: normal
    font-style: normal
    font-variant: normal
    text-transform: none
    -moz-osx-font-smoothing: grayscale
    -webkit-font-smoothing: antialiased
    font-size: 1rem
    line-height: 28px
    display: block
    width: 28px
    height: 28px
    text-align: center
    background-color: rgba(0, 0, 0, 0)
    color: #004666
    border: 1px solid #a8adb3
    position: absolute
    top: 0
    left: 0

.u-bg-brand .c-checkbox +
  label::before, span::before
    border: 1px solid #fff
    color: rgba(0, 0, 0, 0)
    background-color: rgba(0, 0, 0, 0)

.c-checkbox +
  label::after, span::after
    -webkit-transition-duration: 350ms
    transition-duration: 350ms
    -webkit-transition-property: all
    transition-property: all
    -webkit-transition-timing-function: ease
    transition-timing-function: ease
    display: block
    width: 26px
    height: 26px
    position: absolute
    top: 1px
    left: 1px
    background-color: #fff
    content: ""

.u-bg-pale .c-checkbox +
  label::after, span::after
    background-color: #f2f2f2

.u-bg-brand .c-checkbox +
  label::after, span::after
    background-color: #004666

.c-checkbox
  &.is-error +
    label::before, span::before
      border: 1px solid #ff4963
  &.is-disabled +
    label, span
      color: #a8adb3
      cursor: default
  &[disabled] +
    label, span
      color: #a8adb3
      cursor: default

.u-bg-brand .c-checkbox
  &.is-disabled +
    label, span
      opacity: 0.5
  &[disabled] +
    label, span
      opacity: 0.5

.c-checkbox
  &.is-disabled +
    label::before, span::before
      border: 1px solid #a8adb3
  &[disabled] +
    label::before, span::before
      border: 1px solid #a8adb3

.c-spinner-button
  padding-right: 56px

.c-spinner-button__icon
  -webkit-transition-duration: 350ms
  transition-duration: 350ms
  -webkit-transition-property: all
  transition-property: all
  -webkit-transition-timing-function: ease
  transition-timing-function: ease
  opacity: 0

.c-spinner-button.is-loading .c-spinner-button__icon
  opacity: 1
  -webkit-animation: spin 1.75s linear infinite
  animation: spin 1.75s linear infinite

.u-bg-brand .c-spinner-button__icon::before
  color: #004666

.c-spinner-button__text
  margin-left: 10px
  margin-right: 10px

@-webkit-keyframes spin
  100%
    -webkit-transform: rotate(360deg)
    transform: rotate(360deg)


@keyframes spin
  100%
    -webkit-transform: rotate(360deg)
    transform: rotate(360deg)


.c-brand-logo
  display: inline-block
  width: 180px
  height: 108px
  padding-left: 20px
  padding-right: 20px
  position: absolute
  top: 0
  left: 0
  background-image: linear-gradient(45deg, #003b57 0%, #0b6e8e 100%)
  svg
    width: 140px
    height: 108px
    fill: #fff

@media (max-width: 45em)
  .c-brand-logo
    width: 170px
    height: 48px

@media (max-width: 45em)
  .c-brand-logo svg
    width: 130px
    height: 48px

@media (min-width: 45.01em)
  .c-brand-logo.c-brand-logo--small-screen
    display: none

@media (max-width: 45em)
  .c-brand-logo.c-brand-logo--large-screen
    display: none

.c-jump-nav-bar
  position: -webkit-sticky
  position: sticky
  top: 0
  z-index: 1020
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2)
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2)

.c-jump-nav-container
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-pack: justify
  -ms-flex-pack: justify
  justify-content: space-between
  -webkit-box-align: center
  -ms-flex-align: center
  align-items: center

.c-jump-nav-wrapper
  -webkit-box-flex: 1
  -ms-flex-positive: 1
  flex-grow: 1
  overflow-x: auto
  position: relative

.c-jump-nav
  margin: 0
  padding: 0
  list-style: none
  overflow: hidden
  font-size: 0
  li
    display: inline-block
    font-size: .83333rem
    line-height: 44px
  a
    display: block
    margin-right: 40px
    position: relative
    font-weight: bold
    text-decoration: none
    white-space: nowrap
    &:hover
      color: #004666
      &::after
        width: 100%
        background-color: #004666
    &::after
      -webkit-transition-duration: 350ms
      transition-duration: 350ms
      -webkit-transition-property: all
      transition-property: all
      -webkit-transition-timing-function: ease
      transition-timing-function: ease
      display: block
      width: 0
      height: 2px
      position: absolute
      bottom: 0
      left: 50%
      -webkit-transform: translateX(-50%)
      transform: translateX(-50%)
      z-index: 2
      background-color: #004666
      content: ""
    &.is-active::after
      width: 100%
    &.is-disabled
      color: #a8adb3
      cursor: default
      &:hover::after
        width: 0

@media (min-width: 30.01em)
  .c-jump-nav li
    font-size: .83333rem
    line-height: 44px

@media (min-width: 45.01em)
  .c-jump-nav li
    font-size: .83333rem
    line-height: 44px

@media (min-width: 60.01em)
  .c-jump-nav li
    font-size: .83333rem
    line-height: 44px

@media (min-width: 80.01em)
  .c-jump-nav li
    font-size: .83333rem
    line-height: 44px

@media (min-width: 120.0725em)
  .c-jump-nav li
    font-size: 1rem
    line-height: 44px

.c-jump-nav__button
  -ms-flex-negative: 0
  flex-shrink: 0
  margin-top: 7px
  margin-bottom: 7px
  margin-left: 20px

@media (max-width: 45em)
  .c-jump-nav__button
    display: none !important

.c-tab-nav-bar
  background-color: #f2f2f2
  position: relative
  .flickity-enabled
    padding-left: 0 !important
    padding-right: 0 !important

@media (max-width: 45em)
  .c-tab-nav-bar
    background-color: transparent

@media (max-width: 45em)
  .c-tab-nav-bar::before
    display: block
    width: 100%
    height: 2px
    position: absolute
    bottom: 0
    left: 0
    background-color: #f2f2f2
    content: ""

.c-tab-nav
  width: 100%
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-pack: justify
  -ms-flex-pack: justify
  justify-content: space-between
  -webkit-box-align: end
  -ms-flex-align: end
  align-items: flex-end

.c-tab-nav__list
  -webkit-transition-duration: 350ms
  transition-duration: 350ms
  -webkit-transition-property: all
  transition-property: all
  -webkit-transition-timing-function: ease
  transition-timing-function: ease
  margin: 0
  padding: 0
  list-style: none
  width: 100%
  font-size: 0
  overflow: hidden
  white-space: nowrap
  li
    display: inline-block
    &.is-active > a
      background-color: #fff
      color: #004666
  a
    font-size: .83333rem
    line-height: 44px
    display: block
    padding-left: 20px
    padding-right: 20px
    position: relative
    color: #004666
    font-weight: bold
    text-transform: uppercase
    text-decoration: none
    white-space: nowrap
    &:hover
      background-color: #fff

@media (min-width: 45.01em)
  .c-tab-nav__list
    padding-left: 0 !important
    padding-right: 0 !important

@media (max-width: 45em)
  .c-tab-nav__list li
    min-width: 28.5%
    text-align: center

@media (max-width: 30em)
  .c-tab-nav__list li
    min-width: 40%

@media (max-width: 45em)
  .c-tab-nav__list li.is-active > a::before
    background-color: #004666

@media (min-width: 30.01em)
  .c-tab-nav__list a
    font-size: .83333rem
    line-height: 44px

@media (min-width: 45.01em)
  .c-tab-nav__list a
    font-size: .83333rem
    line-height: 44px

@media (min-width: 60.01em)
  .c-tab-nav__list a
    font-size: .83333rem
    line-height: 44px

@media (min-width: 80.01em)
  .c-tab-nav__list a
    font-size: .83333rem
    line-height: 44px

@media (min-width: 120.0725em)
  .c-tab-nav__list a
    font-size: 1rem
    line-height: 44px

@media (max-width: 45em)
  .c-tab-nav__list a::before
    -webkit-transition-duration: 350ms
    transition-duration: 350ms
    -webkit-transition-property: all
    transition-property: all
    -webkit-transition-timing-function: ease
    transition-timing-function: ease
    display: block
    width: 100%
    height: 2px
    position: absolute
    bottom: 0
    left: 0
    background-color: transparent
    content: ""

@media (max-width: 45em)
  .c-tab-nav__list a:hover::before
    background-color: #a8adb3

.c-tab-content
  margin: 0
  padding: 0
  list-style: none
  display: block
  overflow: hidden
  margin: 0
  padding: 0
  list-style: none
  font-size: 0
  li
    display: inline-block
    &:last-child a::after
      display: block
  a
    font-size: .83333rem
    line-height: 44px
    display: inline-block
    padding-left: 20px
    padding-right: 20px
    border: 1px solid transparent
    border-bottom-width: 0
    position: relative
    color: #4c5356
    text-transform: uppercase
    text-decoration: none
    -webkit-transition: none
    transition: none

@media (min-width: 30.01em)
  .c-tab-content a
    font-size: .83333rem
    line-height: 44px

@media (min-width: 45.01em)
  .c-tab-content a
    font-size: .83333rem
    line-height: 44px

@media (min-width: 60.01em)
  .c-tab-content a
    font-size: .83333rem
    line-height: 44px

@media (min-width: 80.01em)
  .c-tab-content a
    font-size: .83333rem
    line-height: 44px

@media (min-width: 120.0725em)
  .c-tab-content a
    font-size: 1rem
    line-height: 44px

.u-bg-brand .c-tab-content a
  color: #fff
  &:hover
    color: #66e4ee

.c-tab-content a
  &:hover
    color: #004666
    .c-tab-content__icon
      color: #004666
  &.is-active
    border-top-width: 2px
    border-color: #004666
    color: #004666
    position: relative

.u-bg-brand .c-tab-content a.is-active
  color: #fff

.c-tab-content
  a
    &.is-active
      &::before
        display: none
      .c-tab-content__icon
        color: #004666
    &::before, &::after
      height: 1px
      position: absolute
      bottom: 0
      background-color: #a8adb3
      content: ""
    &::before
      display: block
      width: calc(100% + (1px * 2))
      left: -1px
    &::after
      display: none
      width: 99999px
      left: 100%
    &.is-disabled
      color: #a8adb3
      cursor: default
      pointer-events: none
      .c-tab-content__icon
        color: #a8adb3
  &.c-tab-content--centered a, &.c-tab-content--flat a
    padding-top: 10px
  &.c-tab-content--centered .c-tab-content__icon, &.c-tab-content--flat .c-tab-content__icon
    font-size: 3rem
    line-height: 1
    display: block
    width: 54px
    height: 54px
    margin: 0 auto
    color: #4c5356

.c-tab-content--horizontal .c-tab-content
  &.c-tab-content--centered .c-tab-content__icon, &.c-tab-content--flat .c-tab-content__icon
    margin-right: 14px

.c-tab-content.c-tab-content--flat .c-tab-content__icon
  font-size: 1.55556rem
  line-height: 1
  display: inline-block
  width: 28px
  height: 28px

.c-tab-content-container
  display: block
  margin-bottom: 28px
  padding: 28px 0
  *
    -webkit-animation: show-content-tabs 500ms ease-in-out
    animation: show-content-tabs 500ms ease-in-out
  > *:last-child
    margin-bottom: 0
  &.is-closed
    display: none

@-webkit-keyframes show-content-tabs
  0%
    opacity: 0

  100%
    opacity: 1


@keyframes show-content-tabs
  0%
    opacity: 0

  100%
    opacity: 1


.c-notifications-group
  position: -webkit-sticky
  position: sticky
  top: 0
  z-index: 1100
  &.js-is-not-loaded
    opacity: 0

.c-notification-container
  overflow: hidden

.c-notifications-group.js-is-loaded .c-notification-container
  -webkit-transition-duration: 350ms
  transition-duration: 350ms
  -webkit-transition-property: all
  transition-property: all
  -webkit-transition-timing-function: ease
  transition-timing-function: ease

.c-notification-container.is-closed
  height: 0 !important

.c-notification
  width: 100%
  padding-bottom: 14px
  padding-top: 14px
  background-color: #f2f2f2
  -webkit-transform: translateY(0)
  transform: translateY(0)

.c-notifications-group.js-is-loaded > .c-notification
  -webkit-transition-duration: 350ms
  transition-duration: 350ms
  -webkit-transition-property: all
  transition-property: all
  -webkit-transition-timing-function: ease
  transition-timing-function: ease

.c-notifications-container.is-closed > .c-notification
  -webkit-transform: translateY(-100%)
  transform: translateY(-100%)

.c-notification
  &.c-notification--regular
    color: #ff4963
  &.c-notification--warning
    color: #fff
    background-color: #4c5356
  &.c-notification--error
    color: #fff
    background-color: #ff4963

.c-notification__close
  padding: 0
  border: 0
  background-color: transparent
  -webkit-transition-duration: 350ms
  transition-duration: 350ms
  -webkit-transition-property: all
  transition-property: all
  -webkit-transition-timing-function: ease
  transition-timing-function: ease
  position: absolute
  right: 0
  top: 2px
  height: 24px
  border-radius: 50%
  cursor: pointer
  outline: none
  &::before
    font-family: "vwfs-iconfont-small" !important
    speak: none
    font-weight: normal
    font-style: normal
    font-variant: normal
    text-transform: none
    -moz-osx-font-smoothing: grayscale
    -webkit-font-smoothing: antialiased
    content: ""
    vertical-align: middle

.c-notification--regular .c-notification__close::before
  color: #ff4963

.c-notification--warning .c-notification__close::before, .c-notification--error .c-notification__close::before
  color: #fff

.c-notification__close svg
  display: none

.c-notification__inner-wrap
  font-size: 1rem
  line-height: 28px
  margin-bottom: 0
  padding-right: 34px
  position: relative

.c-page-head__wrapper
  position: relative

.c-page-head
  width: 100%
  position: fo
  top: 0
  left: 0
  z-index: 1030
  height: 68px
  background-color: rgba(255, 255, 255, 0.6)
  &.c-page-head--no-hero
    position: relative
    height: 164px

@media (max-width: 45em)
  .c-page-head
    height: 48px

@media (max-width: 45em)
  .c-page-head.c-page-head--no-hero
    height: 104px

.c-page-head__inner
  padding-left: 208px
  position: relative

@media (max-width: 45em)
  .c-page-head__inner
    padding-left: 184px

.c-page-head--no-nav
  background-color: transparent

.c-page-head-nav
  margin: 0
  text-align: right
  text-transform: uppercase
  font-weight: bold
  list-style: none
  &::after
    content: "" !important
    display: block !important
    clear: both !important

@media (max-width: 45em)
  .c-page-head-nav
    line-height: 48px

.c-page-head-nav__item
  display: inline-block
  position: relative
  vertical-align: top
  &.c-page-head-nav__item--left
    float: left
  &:not(:first-child)
    margin-left: 30px

@media (max-width: 45em)
  .c-page-head-nav__item:not(:first-child)
    margin-left: 15px

@media (max-width: 30em)
  .c-page-head-nav__item:not(:first-child)
    margin-left: 7.5px

@media (max-width: 45em)
  .c-page-head-nav__item
    position: static

.c-page-head-nav__link
  font-size: .83333rem
  line-height: 68px
  display: block
  line-height: 68px
  text-decoration: none
  &:hover .c-page-head-nav__link-text::after,
  &:focus .c-page-head-nav__link-text::after,
  &:active .c-page-head-nav__link-text::after
    width: 100%

a.c-page-head-nav__link.is-active .c-page-head-nav__link-text::after
  width: 100%

@media (min-width: 30.01em)
  .c-page-head-nav__link
    font-size: .83333rem
    line-height: 68px

@media (min-width: 45.01em)
  .c-page-head-nav__link
    font-size: .83333rem
    line-height: 68px

@media (min-width: 60.01em)
  .c-page-head-nav__link
    font-size: .83333rem
    line-height: 68px

@media (min-width: 80.01em)
  .c-page-head-nav__link
    font-size: .83333rem
    line-height: 68px

@media (min-width: 120.0725em)
  .c-page-head-nav__link
    font-size: 1rem
    line-height: 68px

@media (max-width: 45em)
  .c-page-head-nav__link
    line-height: 48px

.c-page-head-nav__link-text
  display: inline-block
  position: relative
  &::before
    -webkit-transition-duration: 350ms
    transition-duration: 350ms
    -webkit-transition-property: all
    transition-property: all
    -webkit-transition-timing-function: ease
    transition-timing-function: ease
    display: block
    width: 16px
    height: 16px
    position: absolute
    bottom: 0
    left: 50%
    -webkit-transform: translateX(-50%)
    transform: translateX(-50%)
    border-color: transparent
    border-style: solid
    border-width: 8px
    border-bottom-width: 0
    content: ""

.c-page-head-nav__link.is-open .c-page-head-nav__link-text::before
  border-width: 8px
  border-bottom-color: #004666

.c-page-head-nav__link-text::after
  -webkit-transition-duration: 350ms
  transition-duration: 350ms
  -webkit-transition-property: all
  transition-property: all
  -webkit-transition-timing-function: ease
  transition-timing-function: ease
  display: block
  height: 1px
  width: 0
  position: absolute
  top: calc(50% + 9px)
  left: 50%
  -webkit-transform: translateX(-50%)
  transform: translateX(-50%)
  background-color: currentColor
  content: ""

.c-page-head-nav__dropdown
  -webkit-transition-duration: 350ms
  transition-duration: 350ms
  -webkit-transition-property: all
  transition-property: all
  -webkit-transition-timing-function: ease
  transition-timing-function: ease
  max-height: 0
  width: 232.72727px
  position: absolute
  top: 100%
  left: -38px
  overflow: hidden

.c-page-head-nav__item--left .c-page-head-nav__dropdown
  left: 0

.c-page-head-nav__dropdown.is-open
  max-height: 5000px

@media (max-width: 45em)
  .c-page-head-nav__dropdown
    width: 100vw
    left: 50%
    -webkit-transform: translateX(-50%)
    transform: translateX(-50%)

.c-page-head-nav__dropdown-content
  -webkit-transition-duration: 350ms
  transition-duration: 350ms
  -webkit-transition-property: all
  transition-property: all
  -webkit-transition-timing-function: ease
  transition-timing-function: ease
  margin: 0
  padding: 28px
  background-color: #004666
  text-align: left
  list-style: none
  -webkit-transform: translateY(-100%)
  transform: translateY(-100%)

.c-page-head-nav__dropdown.is-open .c-page-head-nav__dropdown-content
  -webkit-transform: translateY(0)
  transform: translateY(0)

.c-page-head-nav__dropdown-list-item
  display: block
  border-bottom: 1px solid #006384

.c-page-head-nav__dropdown-list-link
  font-size: .83333rem
  line-height: 1.6
  display: block
  padding-top: 10.5px
  padding-bottom: 10.5px
  padding-left: 10px
  padding-right: 10px
  color: #fff
  text-decoration: none
  text-transform: none
  &:hover
    background-color: rgba(0, 99, 132, 0.5)
    color: #fff
  &:not(a)
    background-color: transparent
    color: rgba(255, 255, 255, 0.3)
    cursor: default
    &:hover
      background-color: transparent
      color: rgba(255, 255, 255, 0.3)
      cursor: default

@media (min-width: 30.01em)
  .c-page-head-nav__dropdown-list-link
    font-size: .83333rem
    line-height: 1.6

@media (min-width: 45.01em)
  .c-page-head-nav__dropdown-list-link
    font-size: .83333rem
    line-height: 1.6

@media (min-width: 60.01em)
  .c-page-head-nav__dropdown-list-link
    font-size: .83333rem
    line-height: 1.6

@media (min-width: 80.01em)
  .c-page-head-nav__dropdown-list-link
    font-size: .83333rem
    line-height: 1.6

@media (min-width: 120.0725em)
  .c-page-head-nav__dropdown-list-link
    font-size: 1rem
    line-height: 1.55556

.c-tile__content
  padding: 28px 20px

.c-tile--full-bleed .c-tile__content
  border: 2px solid #d8d8d8
  border-top: 0

a
  -webkit-transition-duration: 350ms
  transition-duration: 350ms
  -webkit-transition-property: all
  transition-property: all
  -webkit-transition-timing-function: ease
  transition-timing-function: ease
  color: #004666
  &:hover
    color: #4c5356

.u-bg-brand a
  color: #fff
  &:hover
    color: rgba(255, 255, 255, 0.8)

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
  text-decoration: none

button
  font-family: "VWFS-Sans",sans-serif

.u-bg-brand p
  color: #fff

small
  font-size: .72222rem
  line-height: 1.53846

@media (min-width: 30.01em)
  small
    font-size: .72222rem
    line-height: 1.53846

@media (min-width: 45.01em)
  small
    font-size: .72222rem
    line-height: 1.53846

@media (min-width: 60.01em)
  small
    font-size: .72222rem
    line-height: 1.53846

@media (min-width: 80.01em)
  small
    font-size: .72222rem
    line-height: 1.53846

@media (min-width: 120.0725em)
  small
    font-size: .83333rem
    line-height: 1.6


.u-bg-brand li
  color: #fff

fieldset
  border: 0

img
  max-width: 100%
  vertical-align: middle
  font-style: italic

.u-bg-brand dl
  color: #fff

dt
  font-weight: bold

label
  display: inline-block
  margin-bottom: 7px
  color: #4c5356

hr
  display: block
  margin-bottom: 56px
  border: 0
  width: 100%
  height: 2px
  background-color: #f2f2f2

sup
  font-size: 55%
  top: -0.85em

mark
  color: #004666
  background: #f5e850

.o-media
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-orient: horizontal
  -webkit-box-direction: normal
  -ms-flex-direction: row
  flex-direction: row
  &.o-media--reversed
    -webkit-box-orient: horizontal
    -webkit-box-direction: reverse
    -ms-flex-direction: row-reverse
    flex-direction: row-reverse
  &.o-media--center
    -webkit-box-pack: center
    -ms-flex-pack: center
    justify-content: center

@media (max-width: 45em)
  .o-media.o-media--column\@s
    -webkit-box-orient: vertical
    -webkit-box-direction: normal
    -ms-flex-direction: column
    flex-direction: column

@media (max-width: 45em)
  .o-media.o-media--column-reverse\@s
    -webkit-box-orient: vertical
    -webkit-box-direction: reverse
    -ms-flex-direction: column-reverse
    flex-direction: column-reverse

.o-media__img
  -ms-flex-negative: 0
  flex-shrink: 0
  -webkit-box-flex: 0
  -ms-flex-positive: 0
  flex-grow: 0
  -ms-flex-item-align: start
  align-self: flex-start
  margin-right: 10px

.o-media--large .o-media__img
  margin-right: 20px

.o-media--huge .o-media__img
  margin-right: 80px

.o-media--reversed
  .o-media__img
    margin-right: 0
    margin-left: 10px
  &.o-media--large .o-media__img
    margin-left: 20px
  &.o-media--huge .o-media__img
    margin-left: 80px

.o-media--middle .o-media__img
  -ms-flex-item-align: center
  align-self: center

.o-media--bottom .o-media__img
  -ms-flex-item-align: end
  align-self: flex-end

@media (max-width: 45em)
  .o-media--column\@s .o-media__img
    margin-left: auto
    margin-right: auto
    margin-bottom: 28px

@media (max-width: 45em)
  .o-media--column-reverse\@s .o-media__img
    margin-left: auto
    margin-right: auto
    margin-bottom: 0

@media (max-width: 45em)
  .o-media--reversed.o-media--column\@s .o-media__img
    margin-left: auto
    margin-right: auto

@media (max-width: 45em)
  .o-media--reversed.o-media--column-reverse\@s .o-media__img
    margin-left: auto
    margin-right: auto

.o-media__body > *:last-child
  margin-bottom: 0

.o-media--middle .o-media__body
  -ms-flex-item-align: center
  align-self: center

.o-media--bottom .o-media__body
  -ms-flex-item-align: end
  align-self: flex-end

@media (max-width: 45em)
  .o-media--column-reverse\@s .o-media__body
    margin-bottom: 28px

.o-media__body
  -webkit-box-flex: 1
  -ms-flex-positive: 1
  flex-grow: 1
  -ms-flex-negative: 1
  flex-shrink: 1
  -ms-flex-preferred-size: auto
  flex-basis: auto
  min-width: 0

.o-list-bare
  margin: 0
  padding: 0
  list-style: none
  li
    display: block

.o-list-inline
  margin: 0
  padding: 0
  list-style: none
  li
    display: inline-block

.o-list-casual li
  margin-bottom: 14px

.o-split
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-orient: horizontal
  -webkit-box-direction: normal
  -ms-flex-direction: row
  flex-direction: row
  -webkit-box-pack: justify
  -ms-flex-pack: justify
  justify-content: space-between
  -webkit-box-align: center
  -ms-flex-align: center
  align-items: center
  overflow: hidden
  &.o-split--top
    -webkit-box-align: start
    -ms-flex-align: start
    align-items: flex-start
  > *
    &:nth-child(1)
      float: left
    &:nth-child(2)
      float: right

@media (max-width: 45em)
  .o-split.o-split--collapse\@s
    display: block

@media (max-width: 45em)
  .o-split.o-split--collapse\@s > *
    display: block
    float: none

.o-chop-apart
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-orient: vertical
  -webkit-box-direction: normal
  -ms-flex-direction: column
  flex-direction: column
  -webkit-box-pack: justify
  -ms-flex-pack: justify
  justify-content: space-between

.o-page-wrap
  max-width: 1320px
  margin-left: auto
  margin-right: auto
  padding-left: 20px
  padding-right: 20px

@media (max-width: 45em)
  .o-page-wrap
    padding-left: 10px
    padding-right: 10px

@media (min-width: 120.0725em)
  .o-page-wrap
    max-width: 1640px

.c-icon-nav
  margin: 0
  padding: 0
  list-style: none
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -ms-flex-wrap: wrap
  flex-wrap: wrap
  -webkit-box-pack: center
  -ms-flex-pack: center
  justify-content: center
  li
    display: block

.c-icon-nav__item
  margin-left: 10px
  margin-right: 10px
  -ms-flex-negative: 0
  flex-shrink: 0
  -webkit-box-flex: 1
  -ms-flex-positive: 1
  flex-grow: 1
  &:nth-last-child(-n+5):first-child
    -ms-flex-preferred-size: 10%
    flex-basis: 10%
    ~ .c-icon-nav__item
      -ms-flex-preferred-size: 10%
      flex-basis: 10%
  &:nth-last-child(n+6)
    -ms-flex-preferred-size: 15%
    flex-basis: 15%
    ~ .c-icon-nav__item
      -ms-flex-preferred-size: 15%
      flex-basis: 15%

@media (max-width: 45em)
  .c-icon-nav__item:nth-last-child(-n+5):first-child
    -ms-flex-preferred-size: 40%
    flex-basis: 40%
    ~ .c-icon-nav__item
      -ms-flex-preferred-size: 40%
      flex-basis: 40%

@media (max-width: 80em)
  .c-icon-nav__item:nth-last-child(n+6)
    -ms-flex-preferred-size: 30%
    flex-basis: 30%
    ~ .c-icon-nav__item
      -ms-flex-preferred-size: 30%
      flex-basis: 30%

.c-icon-nav__link
  font-size: .83333rem
  line-height: 1.25
  display: block
  color: #004666
  text-transform: uppercase
  text-decoration: none

@media (min-width: 30.01em)
  .c-icon-nav__link
    font-size: .83333rem
    line-height: 1.25

@media (min-width: 45.01em)
  .c-icon-nav__link
    font-size: .83333rem
    line-height: 1.25

@media (min-width: 60.01em)
  .c-icon-nav__link
    font-size: .83333rem
    line-height: 1.25

@media (min-width: 80.01em)
  .c-icon-nav__link
    font-size: .83333rem
    line-height: 1.25

@media (min-width: 120.0725em)
  .c-icon-nav__link
    font-size: 1rem
    line-height: 1.25

.c-image-nav
  margin: 0
  padding: 0
  list-style: none
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -ms-flex-wrap: wrap
  flex-wrap: wrap
  -webkit-box-pack: center
  -ms-flex-pack: center
  justify-content: center
  -webkit-box-align: center
  -ms-flex-align: center
  align-items: center
  li
    display: block
  &:hover .c-image-nav__link, &:focus .c-image-nav__link
    opacity: 0.3
  &:hover .c-image-nav__link
    &:hover, &:focus
      opacity: 1
  &:focus .c-image-nav__link
    &:hover, &:focus
      opacity: 1

.c-image-nav__item
  margin-left: 14px
  margin-right: 14px
  -ms-flex-negative: 0
  flex-shrink: 0
  -webkit-box-flex: 1
  -ms-flex-positive: 1
  flex-grow: 1
  -ms-flex-preferred-size: auto
  flex-basis: auto
  &:nth-last-child(-n+5):first-child, &:nth-last-child(n+6)
    -ms-flex-preferred-size: 10%
    flex-basis: 10%
    ~ .c-image-nav__item
      -ms-flex-preferred-size: 10%
      flex-basis: 10%

@media (max-width: 80em)
  .c-image-nav__item:nth-last-child(-n+5):first-child
    -ms-flex-preferred-size: 15%
    flex-basis: 15%
    ~ .c-image-nav__item
      -ms-flex-preferred-size: 15%
      flex-basis: 15%

@media (max-width: 45em)
  .c-image-nav__item:nth-last-child(-n+5):first-child
    -ms-flex-preferred-size: 40%
    flex-basis: 40%
    -webkit-box-flex: 0
    -ms-flex-positive: 0
    flex-grow: 0
    ~ .c-image-nav__item
      -ms-flex-preferred-size: 40%
      flex-basis: 40%
      -webkit-box-flex: 0
      -ms-flex-positive: 0
      flex-grow: 0

@media (max-width: 80em)
  .c-image-nav__item:nth-last-child(n+6)
    -ms-flex-preferred-size: 30%
    flex-basis: 30%
    ~ .c-image-nav__item
      -ms-flex-preferred-size: 30%
      flex-basis: 30%

.c-brand-logo
  display: inline-block
  width: 180px
  height: 108px
  padding-left: 20px
  padding-right: 20px
  position: absolute
  top: 0
  left: 0
  background-image: linear-gradient(45deg, #003b57 0%, #0b6e8e 100%)
  svg
    width: 140px
    height: 108px
    fill: #fff

@media (max-width: 45em)
  .c-brand-logo
    width: 170px
    height: 48px

@media (max-width: 45em)
  .c-brand-logo svg
    width: 130px
    height: 48px

@media (min-width: 45.01em)
  .c-brand-logo.c-brand-logo--small-screen
    display: none

@media (max-width: 45em)
  .c-brand-logo.c-brand-logo--large-screen
    display: none

.c-jump-nav-bar
  position: -webkit-sticky
  position: sticky
  top: 0
  z-index: 1020
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2)
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2)

.c-jump-nav-container
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-pack: justify
  -ms-flex-pack: justify
  justify-content: space-between
  -webkit-box-align: center
  -ms-flex-align: center
  align-items: center

.c-jump-nav-wrapper
  -webkit-box-flex: 1
  -ms-flex-positive: 1
  flex-grow: 1
  overflow-x: auto
  position: relative

.c-jump-nav
  margin: 0
  padding: 0
  list-style: none
  overflow: hidden
  font-size: 0
  li
    display: inline-block
    font-size: .83333rem
    line-height: 44px
  a
    display: block
    margin-right: 40px
    position: relative
    font-weight: bold
    text-decoration: none
    white-space: nowrap
    &:hover
      color: #004666
      &::after
        width: 100%
        background-color: #004666
    &::after
      -webkit-transition-duration: 350ms
      transition-duration: 350ms
      -webkit-transition-property: all
      transition-property: all
      -webkit-transition-timing-function: ease
      transition-timing-function: ease
      display: block
      width: 0
      height: 2px
      position: absolute
      bottom: 0
      left: 50%
      -webkit-transform: translateX(-50%)
      transform: translateX(-50%)
      z-index: 2
      background-color: #004666
      content: ""
    &.is-active::after
      width: 100%
    &.is-disabled
      color: #a8adb3
      cursor: default
      &:hover::after
        width: 0

@media (min-width: 30.01em)
  .c-jump-nav li
    font-size: .83333rem
    line-height: 44px

@media (min-width: 45.01em)
  .c-jump-nav li
    font-size: .83333rem
    line-height: 44px

@media (min-width: 60.01em)
  .c-jump-nav li
    font-size: .83333rem
    line-height: 44px

@media (min-width: 80.01em)
  .c-jump-nav li
    font-size: .83333rem
    line-height: 44px

@media (min-width: 120.0725em)
  .c-jump-nav li
    font-size: 1rem
    line-height: 44px

.c-jump-nav__button
  -ms-flex-negative: 0
  flex-shrink: 0
  margin-top: 7px
  margin-bottom: 7px
  margin-left: 20px

@media (max-width: 45em)
  .c-jump-nav__button
    display: none !important

.c-tab-nav-bar
  background-color: #f2f2f2
  position: relative
  .flickity-enabled
    padding-left: 0 !important
    padding-right: 0 !important

@media (max-width: 45em)
  .c-tab-nav-bar
    background-color: transparent

@media (max-width: 45em)
  .c-tab-nav-bar::before
    display: block
    width: 100%
    height: 2px
    position: absolute
    bottom: 0
    left: 0
    background-color: #f2f2f2
    content: ""

.c-tab-nav
  width: 100%
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-pack: justify
  -ms-flex-pack: justify
  justify-content: space-between
  -webkit-box-align: end
  -ms-flex-align: end
  align-items: flex-end

.c-tab-nav__list
  -webkit-transition-duration: 350ms
  transition-duration: 350ms
  -webkit-transition-property: all
  transition-property: all
  -webkit-transition-timing-function: ease
  transition-timing-function: ease
  margin: 0
  padding: 0
  list-style: none
  width: 100%
  font-size: 0
  overflow: hidden
  white-space: nowrap
  li
    display: inline-block
    &.is-active > a
      background-color: #fff
      color: #004666
  a
    font-size: .83333rem
    line-height: 44px
    display: block
    padding-left: 20px
    padding-right: 20px
    position: relative
    color: #004666
    font-weight: bold
    text-transform: uppercase
    text-decoration: none
    white-space: nowrap
    &:hover
      background-color: #fff

@media (min-width: 45.01em)
  .c-tab-nav__list
    padding-left: 0 !important
    padding-right: 0 !important

@media (max-width: 45em)
  .c-tab-nav__list li
    min-width: 28.5%
    text-align: center

@media (max-width: 30em)
  .c-tab-nav__list li
    min-width: 40%

@media (max-width: 45em)
  .c-tab-nav__list li.is-active > a::before
    background-color: #004666

@media (min-width: 30.01em)
  .c-tab-nav__list a
    font-size: .83333rem
    line-height: 44px

@media (min-width: 45.01em)
  .c-tab-nav__list a
    font-size: .83333rem
    line-height: 44px

@media (min-width: 60.01em)
  .c-tab-nav__list a
    font-size: .83333rem
    line-height: 44px

@media (min-width: 80.01em)
  .c-tab-nav__list a
    font-size: .83333rem
    line-height: 44px

@media (min-width: 120.0725em)
  .c-tab-nav__list a
    font-size: 1rem
    line-height: 44px

@media (max-width: 45em)
  .c-tab-nav__list a::before
    -webkit-transition-duration: 350ms
    transition-duration: 350ms
    -webkit-transition-property: all
    transition-property: all
    -webkit-transition-timing-function: ease
    transition-timing-function: ease
    display: block
    width: 100%
    height: 2px
    position: absolute
    bottom: 0
    left: 0
    background-color: transparent
    content: ""

@media (max-width: 45em)
  .c-tab-nav__list a:hover::before
    background-color: #a8adb3


.c-page-head__wrapper
  position: relative

.c-page-head
  width: 100%
  position: fixed
  top: 0
  left: 0
  z-index: 1030
  height: 68px
  background-color: rgba(255, 255, 255, 0.6)
  &.c-page-head--no-hero
    position: relative
    height: 164px

@media (max-width: 45em)
  .c-page-head
    height: 48px

@media (max-width: 45em)
  .c-page-head.c-page-head--no-hero
    height: 104px

.c-page-head__inner
  padding-left: 208px
  position: relative

@media (max-width: 45em)
  .c-page-head__inner
    padding-left: 184px

.c-page-head--no-nav
  background-color: transparent
