<div class="pilot-project-wrapper">
    <img src="../../assets/img/share-and-charge.png" class="motionwerk-logo">
    <div class="pilot-project-text">
      <span>UK Pilot Project</span>
      <span>Dashboard</span>
    </div>
  </div>

  <div class="mnemonic-seed-wrapper">
      <h2>Mnemonic Seed Phrase</h2>
      <p>Mnemonic Seed Phrase (recovery code) is a phrase that is used for recovering your password.
        Please save it somewhere safe, and once you have, press "Continue".</p>
      <p class="mnemonic-seed-phrase">{{mnemonicSeed.seed}}</p>
      <button class="sc-button" (click)="continueToDrivers()">
          Continue
      </button>
  </div>
