<h2 class="page-title">My Account</h2>

    <div class="">

      <ul class="account-info-list">
          <li>
              <span>Name: </span>
              <span>{{accountInfo.name}}</span>
          </li>
          <li>
              <span>Address line 1: </span>
              <span>{{accountInfo.address_1}}</span>
          </li>
          <li>
              <span>Address line 2: </span>
              <span>{{accountInfo.address_2}}</span>
          </li>
          <li>
            <span>Town: </span>
            <span>{{accountInfo.town}}</span>
        </li>
          <li>
              <span>Town postcode: </span>
              <span>{{accountInfo.postcode}} </span>
          </li>
          <li>
              <span>E-Mail address: </span>
              <span>{{accountInfo.mail_addr}}</span>
          </li>
          <li>
              <span>Website: </span>
              <span>{{accountInfo.website}}</span>
          </li>
          <li>
              <span>VAT number: </span>
              <span>{{accountInfo.vat_number}}</span>
          </li>
      </ul>
    </div>

    <div class="wallet-wrapper">
      <div class="wallet-info">
        <h2>Wallet: </h2>
        <p class="wallet-info__ammount">{{toFixedNotation(accountWallet.balance)}} {{accountWallet.currency}}</p>
      </div>
      <div>
          <h2>Recent Transactions: </h2>
          <ul class="transaction-list transaction-list--my-account">
              <li *ngFor="let historyItem of accountHistory">
                  <span>
                      <span>
                          <i class="fas fa-plus-square" *ngIf="this.accountInfo.wallet === historyItem.to_addr"></i>
                          <i class="fas fa-minus-square"*ngIf="this.accountInfo.wallet !== historyItem.to_addr"></i>
                          {{toFixedNotation(historyItem.amount / weiToEvCoin)}}
                      </span>
                      <span class="evCoin" *ngIf="historyItem.currency ===  'wei'">EV Coin</span>
                      <span class="evCoin" *ngIf="historyItem.currency !==  'wei'">{{historyItem.currency}}</span>
                    </span>
                    <span>{{(historyItem.created_at * 1000) | date:'medium' }}</span>
              </li>
          </ul>
      </div>
    </div>
